.btn, .btn:link, .btn:visited {
  display:inline-block;
  @include font-size(16);
  color:$color__fipra-blue;
  &:hover { color: $color__fipra-blue-gray; }
  background-color: $color__fipra-periwinkle;
  font-family: $font__sans;
  font-weight: $font__bold;
  padding: $v-rhythm * 0.5 em(16px);
  margin-bottom: $v-rhythm * 0.5;
  margin-right: em(16px);
  &:last-child { margin-right: 0; }
  &.no-margin { margin:0; }
  &.btn-small { @include font-size(12); }

  &.primary {
    background-color: $color__fipra-blue;
//    @include linear-gradient(lighten($color__fipra-blue, 5%) 50%, $color__fipra-blue 100%);
    color: white;
//    text-shadow:0px -1px 0px darken($color__fipra-blue, 30%);
    @include transition(all 0.2s);
//    border-bottom:2px solid rgba(0,0,0, 0.2);
    &:hover {
//      @include linear-gradient(to top, $color__fipra-blue-gray 60%, darken($color__fipra-blue-gray, 10%) 100%);
      opacity:0.7;
      color:white;
    }

    &.btn-white { background-color: white; color:$color__fipra-blue; }
  }

  &.secondary {
    background-color:rgba(255,255,255,0);
    border: 1px solid $color__fipra-blue;
    color: $color__fipra-blue;
    @include transition(all 0.2s);
    &:hover {
      opacity:0.7;
    }

    &.btn-white { border: 1px solid white; color:white; }
  }

  &.btn-clear {
    background:none;
    border:0;
    padding:$v-rhythm * 0.5 em(4px) !important;
  }

  &.btn-large { @include font-size(22); }

  &.btn-omega { margin-right:0 !important; }

  &.full-width { display:block; }
}