html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  background: url('img/noise_bg.png') top left repeat, $color__fipra-light-gray;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
  position:relative;
  margin-top:$v-rhythm * 3;
  @include linear-gradient($color__fipra-blue-gray 30%, darken($color__fipra-blue-gray, 5%) 100%);
//  background: darken($color__fipra-blue-gray, 0%);
  border-bottom:2px solid rgba(lighten($color__fipra-blue-gray, 40%), 0.6);
  color:white;
  @include font-size(16);
  line-height: $v-rhythm * 2;
  font-style: normal;

  &.no-margin { margin-top: $v-rhythm; }

  .quotemark {
    @include font-size(32); color:rgba($color__fipra-blue, 0.1);
    @include media($media__medium) { @include font-size(60); text-align: left; }
    img { width:90%; }
  }

  img { @include media(max-width $media__medium) { max-width:70px; } }

  p { margin-bottom:$v-rhythm; }

  .author { color:white; font-weight:$font__black; text-transform: uppercase; margin:0; @include font-size(12);  font-style: normal; line-height: $v-rhythm * 1.5; }

  .triangle {
    display:none;
    @include media($media__medium) { display:block; }
    position:absolute;
    bottom:-17px;
    width: 0;
    height: 0;
    border-style: solid;
    //    border-style: inset;
    -webkit-transform:rotate(360deg);
  }

  &.left {
    margin-left:-56px; margin-right:-50px;
    padding:$v-rhythm * 1.5 em(50px) $v-rhythm * 1.5 em(50px);
    @include media($media__medium) { border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-right:0px; }
    .triangle { left:0; border-width: 0 15px 15px 0; border-color: transparent rgba($color__fipra-blue-gray, 0.4) transparent transparent; }
  }
  &.right {
    margin-left:-50px; margin-right:-56px;
    padding:$v-rhythm * 1.5 em(50px) $v-rhythm * 1.5 em(50px);
    @include media($media__medium) { border-top-left-radius: 5px; border-bottom-left-radius: 5px; margin-left:0px; padding:$v-rhythm * 1.5 em(60px) $v-rhythm * 1.5 em(24px); }
    .triangle { right:0; border-width: 15px 15px 0 0; border-color: rgba($color__fipra-blue-gray, 0.4) transparent transparent transparent; }
  }
}

hr {
	background-color: lighten($color__background-hr, 12%);
	border: 0;
	height: 1px;
	margin:$v-rhythm * 2 0;
    &.small { margin:$v-rhythm 0; }
    &.medium { margin:$v-rhythm * 4 0; }
    &.large { margin:$v-rhythm * 6 0; }
    &.hidden { background-color:transparent;}
    &.no-top-margin { margin-top:0; }
    &.no-bottom-margin { margin-bottom:0; }
}


img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

strong {
  &.black { font-weight: $font__black; }
}

@import "lists";
@import "tables";
@import "buttons";