html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
  position:relative;
  margin-top:$v-rhythm * 3;
  background-color: lighten($color__fipra-turquoise, 46%);
  @include linear-gradient(lighten($color__fipra-turquoise, 50%) 0, lighten($color__fipra-turquoise, 42%) 100%);
  border-bottom:2px solid rgba($color__fipra-turquoise, 0.4);
  color:$color__fipra-blue;
  font-family: $font__sans;
  padding:$v-rhythm * 1.5 em(50px) $v-rhythm * 1.5 em(50px);
  @include font-size(18);
  line-height: $v-rhythm * 2.2;
  font-style: normal;

  .quotemark {
    @include font-size(32); color:rgba($color__fipra-blue, 0.1);
    @include media($media__medium) { @include font-size(60); text-align: left; }
    img { width:90%; }
  }

  img { @include media(max-width $media__medium) { max-width:70px; } }

  p { margin-bottom:$v-rhythm; }

  .author { color:$color__fipra-blue-gray; font-weight:$font__black; text-transform: uppercase; margin:0; @include font-size(13);  font-style: normal; line-height: $v-rhythm * 1.5; }

  .triangle {
    display:none;
    @include media($media__medium) { display:block; }
    position:absolute;
    bottom:-11px;
    width: 0;
    height: 0;
    border-style: solid;
    //    border-style: inset;
    -webkit-transform:rotate(360deg);
  }

  &.left {
    margin-left:-50px; margin-right:-50px;
    @include media($media__medium) { border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-right:0px; }
    .triangle { left:0; border-width: 0 10px 10px 0; border-color: transparent rgba($color__fipra-turquoise, 0.4) transparent transparent; }
  }
  &.right {
    margin-left:-50px; margin-right:-50px;
    @include media($media__medium) { border-top-left-radius: 10px; border-bottom-left-radius: 10px; margin-left:0px; }
    .triangle { right:0; border-width: 10px 10px 0 0; border-color: rgba($color__fipra-turquoise, 0.4) transparent transparent transparent; }
  }

}

hr {
	background-color: lighten($color__background-hr, 12%);
	border: 0;
	height: 1px;
	margin:$v-rhythm * 2 0;
    &.small { margin:$v-rhythm 0; }
    &.medium { margin:$v-rhythm * 4 0; }
    &.large { margin:$v-rhythm * 6 0; }
    &.hidden { background-color:transparent;}
    &.no-top-margin { margin-top:0; }
    &.no-bottom-margin { margin-bottom:0; }
}


img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

strong {
  &.black { font-weight: $font__black; }
}

@import "lists";
@import "tables";
@import "buttons";