ul, ol {
  margin: 0 0 $v-rhythm * 2 0;
  padding-left: 0;
  line-height: $v-rhythm * 3;
}

ul {
  list-style: none;

  li:not(.menu-item) {
    padding-left: em(30px);
    text-indent: em(-30px);
    margin-bottom: $v-rhythm;
    &:before {
      content: "■ ";
      padding-right: em(16px);
      color: $color__fipra-blue;
    }
  }
  &.no-bullet {
    li {
      padding-left:0;
      text-indent: 0;
      &:before { content: none; padding-right:0; }
    }
  }
  &.no-v-spacing { li { margin-bottom:0; } }
}

ol {
  list-style: decimal;
  padding-left: em(24px);
  li {
    margin-bottom: $v-rhythm;
  }
}

li > ul,
li > ol {
  margin-top: $v-rhythm;
  margin-bottom: 0;
  margin-left: em(24px);
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $v-rhythm * 2 em(24px);
}