.testimonial-group {
  blockquote.testimonial {
    background: $color__fipra-mid-gray;
    //    border:1px solid $color__fipra-mid-gray;
    border-bottom: 2px solid $color__fipra-mid-gray;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: $v-rhythm * 2;
    }
    .quote {
      width: 85%;
      padding: $v-rhythm * 2 0 $v-rhythm * 2 24px;
      font-weight: $font__normal;
      letter-spacing: 1px;
      color: $color__fipra-dark-gray;
      @include font-size(18);
      font-style: italic;
      line-height: $v-rhythm * 2;
    }
    .author {
      @include clearfix;
      //      background: lighten($color__fipra-mid-gray, 5%);
      padding: $v-rhythm * 1.5 em(16px);
      overflow: visible;
      //      background-color: $color__fipra-mid-gray;
      color: $color__fipra-dark-gray;
      font-weight: $font__bold;
      text-transform: uppercase;
      @include font-size(14);
      font-style: normal;
      line-height: $v-rhythm * 1.5;
      //      margin-top:$v-rhythm * 2;
      border-top: 1px solid $color__fipra-lighter-gray;
      padding: $v-rhythm 24px;

      img {
        display: none;
        @include media($media__small) {
          display: block;
        }
        float: left;
        margin-right: 16px;
        //        box-shadow: 0 0 1px 1px rgba(black, 0.2);
        width: 60px;
        background-color: white;
        //        margin-top:-28px;
      }
      .author-details {
        float: left;
        .name {
          font-weight: $font__black;
        }
      }

      @include media($media__medium) {
        display: block;
      }
    }
  }
}

.testimonial-group-carousel-controls {
  @include clearfix;
  padding: 0;
  margin-bottom: $v-rhythm * 2;

  .button {
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 50%;
    @include font-size(12);
    border-bottom: 1px solid darken($color__fipra-lighter-gray, 7%);
    padding: $v-rhythm * 0.5 24px;
    line-height: 2;
    color: $color__fipra-blue;

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &:hover {
      background-color: white;
    }
  }

}