.full-width-block-container {
  position:relative;

  .full-width-block-content {
    @extend .content-area;
    padding-top:$v-rhythm * 3 !important;
    padding-bottom:$v-rhythm * 3 !important;
    //    &.no-margin { padding:0 em(20px); }
    //    @include media($media__large) { padding:$v-rhythm * 3 0; &.no-margin { padding:0; } }

    //    color:darken(#f1f3f5, 45%);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black; }
  }


  &.dark-grey {
    background-color: rgba(saturate(darken($color__fipra-blue-gray, 20%), 5%), 0.9);
//        @include linear-gradient(rgba(saturate(darken($color__fipra-blue-gray, 15%), 5%), 0.8) 0%, rgba(saturate(darken($color__fipra-blue-gray, 20%), 5%), 0.8) 100%);
    color:lighten($color__fipra-blue-gray, 34%);
  }

  &.grey {
    background-color: rgba(saturate(darken($color__fipra-blue-gray, 5%), 5%), 0.9);
    //    @include linear-gradient(rgba($color__fipra-blue-gray, 0.9) 0%, rgba(darken($color__fipra-blue-gray, 5%), 0.9));
    color:lighten($color__fipra-blue-gray, 43%);
  }

  &.light-grey {
    background-color: rgba(saturate($color__fipra-light-gray, 3%), 0.9);
    color:darken($color__fipra-light-gray, 50%);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
    li.active a { color:$color_soft-black !important;}
  }

  &.periwinkle {
    background-color: rgba(saturate($color__fipra-periwinkle, 3%), 0.9);
    color:darken($color__fipra-periwinkle, 40%);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
  }

  &.turquoise {
    background-color: rgba(saturate($color__fipra-turquoise, 3%), 0.9);
    color:lighten($color__fipra-turquoise, 46%);
    li.active { background:rgba(white, 0.2) !important; }
  }

  &.violet {
    background-color: rgba(saturate($color__fipra-violet, 4%), 0.9);
    color:lighten($color__fipra-violet, 30%);
    li.active { background:rgba(white, 0.1) !important; }
  }

  &.gold {
    background-color: rgba(saturate($color__fipra-gold, 4%), 0.9);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
    color:darken($color__fipra-gold, 35%);
    li.active a { color:$color_soft-black !important;}
  }

  &.dark-grey, &.grey, &.turquoise, &.violet {
    h1, h2, h3, h4, h5, h6 { color:white; }
    .btn { @extend .btn-white; }
    a { color: white; }
    li.active a { background:rgba(white, 0.1); color:white !important; }
  }

  &.periwinkle, &.light-grey {
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black; }
    li.active a { color:$color_soft-black !important;}
    @include media(max-width $media__large) {
      .entry {
        &:not(:last-child) { border-bottom:1px solid rgba(black, 0.1) !important; }
      }
    }
  }

}