.full-width-block-container {

  &.with-content-bar {
    @include media($media__medium) { padding: $v-rhythm * 7 0; }
    @include media($media__xlarge) { padding: $v-rhythm * 11 0; }

    &.content-bar-top {
      @include media($media__medium) { padding: 0 0 $v-rhythm * 14; }
      @include media($media__xlarge) { padding: 0 0 $v-rhythm * 22; }
    }

    &.content-bar-bottom {
      @include media($media__medium) { padding: $v-rhythm * 14 0 0; }
      @include media($media__xlarge) { padding: $v-rhythm * 22 0 0; }
    }
  }

  &.flex {
    padding-top: 0; padding-right: 0; padding-left: 0; padding-bottom: 0;
  }
}

#hero {
  .full-width-block-content-container:not(.flex) {
    @include media($media__medium) { padding-top: $v-rhythm * 7; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 7; }
    @include media($media__xlarge) { padding-top: $v-rhythm * 11; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 11; }

    &.top {
      @include media($media__medium) { padding-top: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 11; }
      @include media($media__xlarge) { padding-top: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 19; }
    }

    &.bottom {
      @include media($media__medium) { padding-bottom: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-top: $v-rhythm * 11; }
      @include media($media__xlarge) { padding-bottom: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-top: $v-rhythm * 19; }
    }

    &.content-bar {
      @include media($media__medium) { padding-top: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 3; }
    }

    &.page-width { @extend .content-area; }
  }
}

.full-width-block-content-container {
  height:100%;
  padding-top: $v-rhythm * 3; padding-right: 0; padding-left: 0; padding-bottom: $v-rhythm * 3;

  &.flex {
    padding-top: 0; padding-right: 0; padding-left: 0; padding-bottom: 0;
  }
}

.full-width-block-container, .full-width-block-content-container {

  color:darken($color__fipra-lighter-gray, 46%);
  h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }

  &.blue {
    background-color: $color__fipra-blue;
    color:lighten($color__fipra-blue, 65%);
    &.bg-image { background-color: rgba($color__fipra-blue, 0.8); }
  }

  &.dark-grey {
    background-color: $color__fipra-dark-gray;
    color:lighten($color__fipra-blue-gray, 34%);
    &.bg-image { background-color: rgba(saturate(darken($color__fipra-blue-gray, 20%), 5%), 0.8); }
  }

  &.grey {
    background-color: $color__fipra-blue-gray;
    color:lighten($color__fipra-blue-gray, 42%);
    &.bg-image { background-color: rgba(saturate(darken($color__fipra-blue-gray, 5%), 5%), 0.9); }
  }

  &.light-grey {
    background-color: $color__fipra-light-gray;
    color:darken($color__fipra-light-gray, 50%);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
    li.active a { color:$color_soft-black !important;}
    &.bg-image { background-color: rgba(saturate($color__fipra-light-gray, 3%), 0.9); }
  }

  &.periwinkle {
    background-color: $color__fipra-periwinkle;
    color:darken($color__fipra-periwinkle, 46%);
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
    &.bg-image { background-color: rgba(saturate($color__fipra-periwinkle, 3%), 0.8); }
  }

  &.turquoise {
    background-color: $color__fipra-turquoise;
    color:lighten($color__fipra-turquoise, 46%);
    li.active { background:rgba(white, 0.2) !important; }
    &.bg-image { background-color: rgba(saturate($color__fipra-turquoise, 3%), 0.8); }
  }

  &.violet {
    background-color: $color__fipra-violet;
    color:lighten($color__fipra-violet, 32%);
    li.active { background:rgba(white, 0.1) !important; }
    &.bg-image { background-color: rgba(saturate($color__fipra-violet, 4%), 0.8); }
  }

  &.gold {
    background-color: $color__fipra-gold;
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black !important; }
    color:darken($color__fipra-gold, 45%);
    li.active a { color:$color_soft-black !important;}
    &.bg-image { background-color: rgba(saturate($color__fipra-gold, 4%), 0.9); }
  }

  &.blue, &.dark-grey, &.grey, &.turquoise, &.violet {
    h1, h2, h3, h4, h5, h6 { color:white !important; }
    a { color: white; &:hover { color:darken(white, 10%);} }
    .btn { @extend .btn-white; }
    li.active a { background:rgba(white, 0.1); color:white !important; }
  }

  &.periwinkle, &.light-grey {
    h1, h2, h3, h4, h5, h6 { color:$color_soft-black; }
    li.active a { color:$color_soft-black !important;}
    @include media(max-width $media__large) {
      .entry {
        &:not(:last-child) { border-bottom:1px solid rgba(black, 0.1) !important; }
      }
    }
  }
}

.full-width-block-content {
  @extend .content-area;

  &.center {
    text-align: center;
  }

  &.left {
    text-align: center;
    @include media($media__medium) {
      text-align: left;
      &.narrow { padding-right:$column * 5; }
    }
  }

  &.right {
    text-align: center;
    @include media($media__medium) {
      text-align: right;
      &.narrow { padding-left:$column * 5; }
    }
  }

  &.center {
    &.narrow { @include media($media__medium) { padding-left:$column * 2.5; padding-right:$column * 2.5; } }
  }

}


