#mobile-search-container {
  @include media($media__medium) { display:none; }
  background-color: $color__fipra-blue;
  #mobile-search {
    display:none;
    @include outer-container($container__content-width);
    padding:$v-rhythm em(12px);
    form#searchform {
      @include row();
      @include span-columns(12);
      input[type=text] { width: 100%; }
    }
  }
}


#header-container {
  @include clearfix;
  border-top:$color__fipra-blue solid $v-rhythm / 2;
  @include background(linear-gradient(white 90%, darken(white, 5%) 100%));

  header.site-header {
    @include row();
    @include outer-container($container__outer-width);
    padding:0 20px;
    @include media($media__large) { padding: 0 40px; }
    @include media($media__xlarge) { padding:0; }

    #site-branding-container {
      @include span-columns(4);
      padding:$v-rhythm 0;
      @include media($media__medium) { @include span-columns(2); padding:0; }

      h1.site-title {
        margin-bottom:0;
        img { width:50px; height:50px; }
        @include media($media__medium) {
          margin:$v-rhythm * 1.5 0 0 0;
          img { width:72px; height:72px; }
        }

      }

    }

    #site-navigation-container {
      position:relative;
      @include span-columns(8);
      float:right;
      width:auto;
      @include media($media__medium) { @include span-columns(10); }

      .search-global-network-button {
        display:none;
        @include media($media__medium) {
          display:block;
          position:absolute;
          top:0;
          right:0;
        }
      }
      a.global-network-button {
        display: inline-block;
        float:left;
        font-family: $font__sans;
        font-weight: $font__black;
        color:white;
        background-color: $color__fipra-blue;
        @include background(linear-gradient($color__fipra-blue 60%, darken($color__fipra-blue, 7%) 100%));
        padding:$v-rhythm em(12) $v-rhythm / 2 em(12);
        @include transition(all 0.2s ease-out);
        &:hover {
          padding-top:$v-rhythm * 2;
        }
      }

      button.menu-toggle {
        float:right;
        margin-top:$v-rhythm * 2;
      }
    }

  }

}

.searchform {
  float:left;
  position:relative;
  width:auto;
  margin-top:8px;
  margin-right:5px;
  font-family: $font__sans;
  input[type=text] {
    padding-right:40px;
    font-family: $font__sans;
  }
  .button-search {
    @include button-reset();
    position:absolute;
    top:10px;
    right:10px;
    color:$color__fipra-blue-gray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    &:hover {
      color:$color__fipra-blue;
    }
  }
  ::-webkit-input-placeholder {
    font-style:italic;
    font-family: $font__sans;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-style:italic;
    font-family: $font__sans;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-style:italic;
    font-family: $font__sans;
  }

  :-ms-input-placeholder {
    font-style:italic;
    font-family: $font__sans;
  }
}
