@import "header";
@import "footer";
@import "showcase";
@import "team";
@import "hero-banner";
@import "page-banner";
@import "page-header";
@import "global-network-menu";

#content-container {
  width:100%;
  background-color: $color__fipra-light-gray;
  &.with-hero-banner {
    padding-top:0;
    @include media($media__large) { background-size: contain; }
  }

  &.with-border { border-top:3px solid darken(white, 15%); }
  @include media($media__xlarge) {
    padding:$v-rhythm * 2 0;
  }

  #content {
    @include row();
    @include outer-container($local-max-width: $container__outer-width);
    background-color: white;
    padding-bottom:$v-rhythm * 2;
    @include media($media__xlarge) {
      @include border-left-radius(4px);
      @include border-right-radius(4px);
      border:1px solid darken($color__fipra-light-gray, 5%);
    }

  }

  #primary {
    @include span-columns(12);
    @include media($media__medium) { @include span-columns(8); }
    &.full-width { @include span-columns(12); }
  }

  #secondary {
    @include span-columns(12);
    @include media($media__medium) { @include span-columns(4); }
  }

  .content-area {
    padding:$v-rhythm em(20px) 0;
    @include media($media__medium) { padding:$v-rhythm * 2 em(30px) 0; }
    margin:0;

  }
}

.page-nav {
  padding:$v-rhythm em(20px);
  @include media($media__medium) {
    padding:$v-rhythm em(30px);
    background-color: lighten($color__fipra-periwinkle, 10%);
    @include background(linear-gradient(lighten($color__fipra-periwinkle, 12%) 60%, lighten($color__fipra-periwinkle, 7%) 100%));
    border-bottom:1px solid darken(white, 13%);
  }
}

.row { @include row(); }

//Column classes
@for $i from 1 through $grid-columns {
  .col-#{$i}-xxs {
    @include media(max-width $media__small) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
    &.no-bottom-margin { margin-bottom:0; }
  }
  .col-#{$i}-xs {
    @include media(max-width $media__medium) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
    &.no-bottom-margin { margin-bottom:0; }
  }
  .col-#{$i}-s {
    @include media($media__medium) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
    &.no-bottom-margin { margin-bottom:0; }
  }
  .col-#{$i}-m {
    @include media($media__medium) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
    &.no-bottom-margin { margin-bottom:0; }
  }
  .col-#{$i}-l {
    @include media($media__large) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
  }
  .col-#{$i}-xl { @include media($media__large) { @include span-columns($i); }
    margin-bottom:$v-rhythm * 2;
    &.no-margin { margin:0; }
    &.no-bottom-margin { margin-bottom:0; }
  }
}

