.showcase {
  @include clearfix();
  margin:0;

  .showcase-block {
    @include clearfix();
    @include border-left-radius(4px);
    @include border-right-radius(4px);
    margin-top: $v-rhythm * 2;

    h3, h4 { color: $color__fipra-blue; font-weight: $font__black; }

    .featured-image {
      img { @include border-top-radius(4px); width:100%; }
    }

    &.center {
      text-align: center;
    }

    &.bg {
      background: $color__fipra-light-gray;
      @include background(linear-gradient($color__fipra-light-gray 0%, lighten($color__fipra-light-gray, 6%) 70%));

      &.orange {
        @include background(linear-gradient(bottom, lighten(orange, 4%) 0, darken(orange, 4%) 100%));
        color:white;
        .circle-icon { color: orange; }
        .highlight-box {
          background:darken(orange, 10%);
          border-top:1px solid darken(orange, 12%);
          color:white;
          a {
            color:white;
            &:hover { color: lighten(orange, 10%); }
          }
        }
      }

      &.violet {
        @include background(linear-gradient(bottom, lighten($color__fipra-violet, 4%) 0, darken($color__fipra-violet, 4%) 100%));
        color:white;
        .circle-icon { color: $color__fipra-violet; }
        .highlight-box {
          background:darken($color__fipra-violet, 10%);
          border-top:1px solid darken($color__fipra-violet, 12%);
          color:white;
          a {
            color:white;
            &:hover {
              color:lighten($color__fipra-violet, 10%);
            }
          }
        }
      }

      &.turquoise {
        @include background(linear-gradient(bottom, lighten($color__fipra-turquoise, 4%) 0, darken($color__fipra-turquoise, 4%) 100%));
        color:white;
        .circle-icon { color: $color__fipra-turquoise; }
        .highlight-box {
          background:darken($color__fipra-turquoise, 10%);
          border-top:1px solid darken($color__fipra-turquoise, 12%);
          color:white;
          a {
            color:white;
            &:hover {
              color:lighten($color__fipra-turquoise, 10%);
            }
          }
        }

      }
      &.orange, &.violet, &.turquoise { h3, h4 { color: white; } }

    }

    &.outline {
      border: 1px solid $color__fipra-light-gray;
      .highlight-box {
        background-color:$color__fipra-light-gray;
        border-top:1px solid darken($color__fipra-light-gray, 3%);
        color:$color__fipra-blue-gray;
      }
    }

  }

  .row-of-1 {
    .showcase-block {
      @include media($media__large) {
        @include span-columns(12);
        @include omega(1n);
      }
      .showcase-block-content {
        @include row();
        @include media($media__large) { min-height:em(300px); }
      }
    }
  }

  .row-of-2 {
    .showcase-block {
      @include media($media__large) {
        @include span-columns(6);
        @include omega(2n);
      }
      .showcase-block-content {
        @include row();
        @include media($media__large) { min-height:em(300px); }
      }
    }
    @include media($media__medium) {
      .shift-half-col { @include shift(3); }
      .shift-1-col { @include shift(6); }
    }
  }

  .row-of-3 {
    .showcase-block {
      @include media($media__large) {
        @include span-columns(4);
        @include omega(3n);
      }
      .showcase-block-content {
        @include media($media__large) { min-height:em(400px); }
      }
    }
    @include media($media__medium) {
      .shift-half-col { @include shift(2); }
      .shift-1-col { @include shift(4); }
      .shift-2-col { @include shift(8); }
    }
  }

  .row-of-4 {
    .showcase-block {
      @include media($media__large) {
        @include span-columns(3);
        @include omega(4n);
      }
      .showcase-block-content {
        @include media($media__large) { min-height:em(450px); }
      }
    }
    @include media($media__medium) {
      .shift-half-col { @include shift(1.5); }
      .shift-1-col { @include shift(3); }
      .shift-2-col { @include shift(6); }
      .shift-3-col { @include shift(9); }
    }
  }

  .row-of-1, .row-of-2, .row-of-3, .row-of-4 {
    margin-bottom: $v-rhythm * 3;

    .showcase-block.full-width {
      @include span-columns(12);
      @include omega(1n);
    }
    .showcase-block-content {
      padding: $v-rhythm * 2 em(24px);
    }
  }

  &.list {
    @include clearfix();
    @include row();
    text-align: center;
    color:$color__fipra-blue-gray;
    @include media($media__medium) {
      text-align:left;
    }
    .showcase-block-content {
      @include media($media__medium) {
        float:left;
        @include span-columns(8);
      }
    }
  }
}