.ep-election-analysis {
  background: url(img/ep-logo-watermark.png) bottom right no-repeat, white;

  .hero-container {
    position: relative;

    .hero__grey-block {
      display: none;

      @include media($media__large) {
        display: block;
        position: absolute;
        top:0;
        right:0;
        width:35%;
        height:15rem;
        transform: skew(-30deg);
        background:rgba(black, 0.4);
        z-index:2;
        margin-right:-160px;

      }
    }

    .hero__ep-logo {
      display: block;
      position: absolute;
      width:180px;
      top:6rem;
      left:50%;
      margin-left:-90px;
      z-index:2;

      @include media(min-width 768px) {
        left:20px;
        margin-left:0;
      }

      @include media($media__large) {
        left:3rem;
      }
    }

  }

  .hero {
    padding-top:15rem;
    overflow:hidden;
    background:url('img/hemicircle-duotone.jpg') center no-repeat;
    background-size: cover;

    @include media(min-width 768px) {
      background: transparent;
      transform: skew(-30deg);
      margin-left:-200px;
    }

    .hero__background-block {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:-1;

      @include media(min-width 768px) {
        transform: skew(30deg); // make straight again
        margin-left:200px;
        background:url('img/hemicircle-duotone.jpg') center no-repeat; // take over from hero-container on tablet and desktop
        background-size: cover;
      }
    }

    .hero__main-title-container {
      background:radial-gradient(#006b97 0%, #203c7b 100%);
      padding:1rem;
      width:100%;

      @include media(min-width 768px) {
        padding:2rem 15rem 2rem 5rem;
        margin-left:200px;
      }

      @include media($media__large) {
        padding:2rem 5rem;
        width:65%;
      }

      .hero__main-title {
        text-align: center;
        margin:0;
        font-family: "Calibri Light", Calibri, "Lato Light", sans-serif;
        font-weight:normal;
        font-size:40px;
        line-height:36px;
        letter-spacing: -2px;
        color:white;
        font-style: italic;

        @include media(min-width 768px) {
          text-align: left;
          font-size:45px;
          line-height:42px;
          padding-left:30px;
          transform: skew(30deg); // make straight again
        }

        @include media($media__large) {
          font-size:55px;
          line-height:52px;
          padding-left:60px;

        }

      }
    }
  }

  .hero-after {
    @include clearfix;

    .hero__sub-title-container {
      width:100%;
      background-color:$color__fipra-turquoise;
      padding:1rem;

      @include media(min-width 768px) {
        width:calc(70% + 250px);
        transform: skew(-30deg);
        margin-left:-200px;
      }

      @include media($media__large) {
        float: left;
        width:calc(50% + 250px);
      }

      .hero__sub-title {
        text-align: center;
        font-family: Calibri, Lato, sans-serif;
        font-weight:bold;
        text-transform: uppercase;
        letter-spacing:7px;
        color:white;
        margin:0;

        @include media(min-width 768px) {
          text-align: left;
          margin:0 0 0 230px;
          transform: skew(30deg); // make straight again
        }

        @include media($media__large) {
          margin:0 0 0 255px;
        }
      }
    }

    .hero__hashtag-container {
      padding:1rem;

      @include media(min-width 768px) {
        margin-left:30px;
      }

      @include media($media__large) {
        float: left;
      }

      .hero__hashtag {
        text-align: center;
        font-family: Calibri, Lato, sans-serif;
        font-size:18px;
        line-height:18px;
        font-style: italic;
        letter-spacing:3px;
        color:$color__fipra-turquoise;

        @include media(min-width 768px) {
          text-align: left;
          font-size:21px;
          line-height:21px;
        }
      }
    }
  }

  .ballot-box-icon-container {
    display: inline-block;
    position:relative;
    left:50%; //Moves the element to the left by 50%
    transform: translateX(-50%);
    max-width:60px;
    max-height:60px;
    padding:10px;
    border:2px solid $color__fipra-blue;
    border-radius:1000px;
    margin:0 0 15px 0;

    @include media(min-width 768px) {
      padding:20px;
      max-width:80px;
      max-height:80px;
    }

    @include media($media__large) {
      float: right;
      left:unset;
      transform: unset;

    }
  }

  .lead-para {
    font-family: "Calibri Light", Calibri, "Lato Light", sans-serif;
    font-weight:normal;
    font-size:34px;
    line-height:1.2;
    letter-spacing: -2px;
    color:$color__fipra-blue;
    font-style: italic;
    text-align:center;

    @include media(min-width 768px) {
      font-size:40px;
    }

    @include media($media__large) {
      text-align: right;
    }

  }
}

.ep-election-analysis__tabbed-content {
  margin-top:30px;
}

.ep-election-analysis-tabbed-content__tab-group {
  text-align:center;
}

.ep-election-analysis-tab {
  display: inline-block;
  padding:1rem;
  text-transform: uppercase;
  line-height:1;

  @include media(max-width 768px) {
    width:45%;
    font-size:14px;
  }

  &:first-child {
    background-color: #203c7b;
    color:white;
    margin-right:5px;
    &:hover {
      color:$color__fipra-red;
    }
  }
  &:last-child {
    background-color: $color__fipra-gold;
  }
}

.ep-election-news-and-analysis-container {
  background: #203c7b;
  color:white;
  width: 100%;

  .ep-election-news-and-analysis__content {
    margin: 0 auto;
    padding: 2rem 1.5rem;
    text-align: center;
  }
}

.ep-election-review-back-issues-container {
  background: $color__fipra-gold;
  width:100%;

  .ep-election-review-back-issues__content {
    margin:0 auto;
    padding: 2rem 1.5rem;
    text-align:center;

    .ep-election-review-back-issues__title {
      font-family: "Calibri Light", Calibri, "Lato Light", sans-serif;
      font-weight:normal;
      font-size:34px;
      line-height:1;
      color:$color__fipra-blue;
      font-style: italic;
      margin:0 0 10px;

      @include media(min-width 768px) {
        letter-spacing:-2px;
        font-size:44px;
      }
    }
  }

  .ep-election-review-back-issues__gallery {
    margin:0;

    li {
      width:100%;
      margin-bottom:10px;
      background:white;
      box-shadow:0 1px 1px rgba(black, 0.3);

      &:hover {
        opacity:0.7;
      }

      a:link,
      a:visited {
        display: block;
        width:100%;
        padding:5px 10px;
        font-weight:700;
        text-transform: uppercase;
        color:$color__fipra-blue !important;

        .ep-election-review-back-issues__icon {
          display: none;

          @include media(min-width 768px) {
            display: inline;
            height:15px;
            margin-right:5px;
          }
        }

        @include media(min-width 768px) {
          padding:125px 10px 5px 10px;
        }
      }

      @include media(min-width 768px) {
        background:url(img/hemicircle-duotone-small.jpg) top center no-repeat, white;
        background-size:auto 120px;
        display: inline-block;
        width:32%;
        margin-right:1%;
      }

      @include media($media__large) {
        width:23%;
      }
    }
  }
}

.ep-election-analysis-report-hero-container {
  @include clearfix;
  position: relative;
  padding:($v-rhythm * 2) 1rem;
  background:radial-gradient(#006b97 0%, #203c7b 100%);
  margin-top:40px;

  @include media(min-width 768px) {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    transform: skew(-30deg);
    margin-right:-200px;
    padding:($v-rhythm * 2) 220px ($v-rhythm * 2) 20px;
  }

  .ep-election-analysis-report-hero__mockup-background {
    display: none;
    transform: skew(30deg);

    @include media(min-width 768px) {
      display: block;
      position: absolute;
      top:0;
      right:200px; // allows for negative margin above
      height:100%;
      width:100%;
      background:url(img/2019-ep-elections-report-front-cover-and-inside-pages-mockup.png) top right no-repeat;
      background-size:contain;
      opacity:0.5;
    }

    @include media($media__large) {
      opacity:1;
    }
  }

  .ep-election-analysis-report-hero__report-cover {
    display: block;
    position: relative;
    z-index:2;
    max-width:200px;
    box-shadow: 0 2px 2px rgba(black, 0.7);
    margin:-70px auto $v-rhythm;

    @include media(min-width 768px) {
      max-width:unset;
      margin:0 30px;
      width:275px;
      height:390px;
      transform: skew(30deg);
    }
  }

  .ep-election-analysis-report-hero__content {
    position: relative;
    text-align:center;
    color:white;

    @include media(min-width 768px) {
      text-align:left;
      transform: skew(30deg);
      max-width:330px;
    }
  }

  .ep-election-analysis-report-hero__content__skewed-background {
    display: none;

    @include media(min-width 768px) {
      display: block;
      position: absolute;
      top:0;
      left:0;
      width:180%;
      height:140%;
      margin-left:-60%;
      margin-top:-10%;
      transform: skew(-30deg);
      background-color:$color__fipra-turquoise;
      box-shadow: 0 2px 2px rgba(black, 0.7);
      z-index:-1;
    }
  }

  .ep-election-analysis-report-hero__title {
    font-family: "Calibri Light", Calibri, "Lato Light", sans-serif;
    font-weight:normal;
    font-size:40px;
    line-height:36px;
    letter-spacing: -2px;
    margin-bottom:$v-rhythm;
  }

  .ep-election-analysis-report-hero__description {
    font-size:0.9rem;
    line-height:1.5;
    margin-bottom:$v-rhythm;
  }

  .ep-election-analysis-report-hero__button {
    text-transform: uppercase;
    font-weight:700;
  }
}