#page-banner {
  &.expertise {
    min-height:em(420px);
    @include media(max-width $media__small) { padding:$v-rhythm em(20px); }

    #page-banner-content {
      position:relative;
      text-align: center;
      @include media(min-width $media__medium max-width $media__large) { @include span-columns(12); }
      @include media($media__large) { @include span-columns(6); }

      h1 { margin-top:-6px; }

      .circle-icon-outline {
        @include media(max-width $media__small) { display:none; }
        @include media(max-width $media__medium) {
          @include font-size(24);
          width:50px; height:50px;
          line-height: 47px;
          margin-bottom: $v-rhythm * 2;
        }
        @include media($media__medium) {
          display:none;
        }
      }

      .icon-tab {
        @include media(max-width $media__medium) {
          display:none;
        }
        @include media($media__medium) {
          position:absolute; top: $v-rhythm * 2; left:-10px;
          background-color: white;
          color:$color__fipra-blue;
          box-shadow: 1px 2px 1px rgba(black, 0.3);
          padding:$v-rhythm em(6px) $v-rhythm em(26px);
          @include font-size(32);
          text-align: left;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }

      .triangle {
        display:none;
        @include media($media__medium) { display:block; }
        position:absolute;
        bottom:-11px;
        width: 0;
        height: 0;
        border-style: solid;
        //    border-style: inset;
        -webkit-transform:rotate(360deg);
        left:0;
        border-width: 0 10px 10px 0;
        border-color: transparent rgba(darken(white, 70%), 0.4) transparent transparent;
      }

      @include media($media__medium) { padding:$v-rhythm * 12 em(40px) $v-rhythm * 3 !important;
        text-align: left; }
      @include media($media__large) { padding:$v-rhythm * 14 em(40px) $v-rhythm * 3 !important; }

      &.dark-text {
        h1 {
          color: $color_soft-black !important;
        }
        h2 {
//          color: $color__fipra-blue;
        }
        .lead { color:$color__fipra-blue; }
        .btn.secondary {
          border:1px solid $color__fipra-blue;
          color:$color__fipra-blue;
          &:hover {
            border:1px solid $color__fipra-blue-gray;
            color:$color__fipra-blue-gray;
          }
        }
      }
    }
  }
}

.expertise-content-area {
  p.lead {
    color:$color__fipra-blue; line-height:$v-rhythm * 2.5;
    @include media($media__small) { @include font-size(20); line-height:$v-rhythm * 2.5 }
  }
}

#page-footer {
  background-position: 0 0, top left, 0 0;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size:contain, contain, 400px 324px;
  background: linear-gradient(to top, rgba(125, 125, 125, 0) 94%, rgba(125, 125, 125, 0.2) 100%), linear-gradient(to bottom, $color__fipra-light-gray 0%, white 50%);


  padding:$v-rhythm * 2 inherit;
  .content-area { @include clearfix; padding-bottom:$v-rhythm; }
  h3 { color:$color__fipra-blue-gray; }
}
.carousel-control {
  height:150px;
  &.left { text-align: right; }
  &.right { text-align: left; }
  &:hover { cursor: pointer; }
  display:none;
  i {
    @include vertical-align;
    @include font-size(34);
    color:$color__fipra-blue;
    &:hover { color:$color__fipra-blue-gray; }
  }
  @include media($media__medium) { display:block;}
}

#expertise-carousel {
  .showcase-block {
    h3 { color:$color__fipra-blue; }
    padding:$v-rhythm * 2 em(12px);
    margin:0 auto;
    width:90%;
    &.bg { @include linear-gradient($color__fipra-light-gray 50%, darken($color__fipra-light-gray, 7%) 100%); }
  }
}
//Owl carousel pagination
.owl-page {
  opacity:0.4;
  &.active { opacity: 1; }
  span {
    background:$color__fipra-blue !important;
  }
}

