#hero {
  &.expertise {
//    @include media($media__medium) { min-height:em(500px); }
//    @include media($media__xlarge) { min-height:em(600px); }
    //    @include media(max-width $media__small) { background:$color__fipra-blue !important; }

    .full-width-block-content-container {

      h1 { margin-bottom: $v-rhythm; }

      .circle-icon {
//        margin-bottom: $v-rhythm;
//        border-bottom:2px solid rgba(darken($color__fipra-dark-gray, 10%), 0.6);
      }
    }

    .content-bar {
      @include media($media__medium) { padding-top:0; }
      .circle-icon { @include media($media__medium) { margin-top:-110px; } }
    }
  }

}


#staff-menu-container, #expertise-menu-container {
  h3 {
    position: relative;
    padding: 0 24px;
    margin-bottom: $v-rhythm * 2;
    i { @include font-size(24); }
    .owl-prev, .owl-next { position: absolute; }
    .owl-prev { left: 0; top: 0; }
    .owl-next { right: 0; top: 0; }
  }

  .owl-page {
    margin-top:$v-rhythm;
    opacity:0.4;
    &.active { opacity: 1; }
  }
}

#staff-menu-container {
  .team-member {
    position:relative;
    padding:0;
    margin:0 8px;
    text-align: left;
    overflow:hidden;
    height:300px;
    border-bottom: 2px solid darken($color__fipra-dark-gray, 3%);

    img { max-width: 100%; }
    h4 { line-height: $v-rhythm * 2; }

    .team-member-profile-photo { background-color: white; text-align:center; &:hover { opacity:0.7; } }
    .team-member-details {
      position:absolute;
      top:180px;
      @include media(min-width $media__small max-width $media__medium) { top: 160px; }
      left:0;
      background-color: lighten($color__fipra-dark-gray, 15%);
      padding:$v-rhythm 18px;
      height:100%;
      width:100%;
      @include transition(all 0.5s);
      .bio { display: none; @include animation(fadeIn 1s); }

      &:hover { top:0; .bio { display:block; } }
    }
  }

  .owl-page { span { background:white !important; } }
}

#expertise-menu-container {
  .owl-prev, .owl-next { color:$color__fipra-blue; }

  #expertise-carousel {
    .showcase-block {
      margin:0 8px;
      h4 { margin:0; color:$color__fipra-blue !important; }
    }
  }

  .owl-page { span { background:$color__fipra-blue !important; } }
}
