#site-content {
  .people-group-container {
      height:460px;
      overflow: scroll;
      overflow-x:hidden;
      overflow-y:scroll;
    padding-right: em(6px);
      @include media($media__medium) { height:600px; }
      @include media($media__large) { height:600px; }
  }
}

.filter-group {
  &.hide { display:none; }
  &.grey {
    border-top:1px solid lighten($color__fipra-blue-gray, 8%);
  }
}

.filtering-on-container {
  @include clearfix;
  position:relative;
  padding-bottom: $v-rhythm;
  border-bottom:1px solid darken($color__fipra-lighter-gray, 10%);
  margin-bottom:$v-rhythm * 2;

  .clear-filter {
    display:inline-block;
    margin-top:$v-rhythm;
    &.hide { display:none; }

    @include media($media__medium) {
      position:absolute;
      bottom:0; right:0;
      margin-top:0;
    }

    &:hover {
      color:$color__fipra-red;
      border-color: $color__fipra-red;
    }
  }

}

#text-filter {
  margin:$v-rhythm * 0.75 0;
  width:100%;
  @include font-size(14);
}
