#content-container {
  @include media(max-width $media__medium) { &.with-border { padding-top:0; } }
}


.full-width-block-container {
  &.profile {
    @include media($media__medium) { padding-top: $v-rhythm !important; }

    .full-width-block-content-container {
      padding-top: $v-rhythm * 6 !important;
      padding-bottom: $v-rhythm * 6 !important;

      .full-width-block-content {
        position:relative;
        @include media($media__small) { text-align:left; padding-right:220px; }
        h4 { color: lighten($color__fipra-blue-gray, 35%) !important; }
        img {
          display:none;
          @include media($media__small) { display:block; position:absolute; bottom:-$v-rhythm * 6; right:20px; height:250px; }
          @include media($media__medium) { height:280px; }
          @include media($media__large) { height:320px; }
        }
      }

    }
  }
}

.profile-content-area {
  p.lead { @include font-size(18); @include media($media__medium) { @include font-size(24); line-height: $v-rhythm * 3; } color:$color__fipra-dark-gray; }
}

.profile-expertise-showcase {
  .showcase-block {
    h3 { margin:0; @include font-size(16); color:$color__fipra-blue; line-height:$v-rhythm * 1.7; }
  }
}

#secondary {
  ul.languages-list {
    @include clearfix;
    list-style: none;

    li { float:left;
      &:not(:last-child) { margin-right: em(12px); }
      .languages-list-flag { width:em(40px); }
    }
  }
}