.full-width-block-container {
  &.unit {
    @include media($media__medium) { min-height:em(400px); }
    //    @include media(max-width $media__small) { background:$color__fipra-blue !important; }

    .full-width-block-content {
      .meta { font-style: italic; @include font-size(18); }
      img {
        height: 32px;
        margin-right:em(12px);
        margin-bottom: $v-rhythm;
        vertical-align: top;
        margin-top:4px;
      }
      img, h1 { @include media($media__medium) { display: inline-block; } }

    }
  }
}