#page-banner {
  &.unit {
//    min-height:em(420px);
    //    @include media(max-width $media__small) { background:$color__fipra-blue !important; }

    .full-width-block-content {
      text-align: center;
      .meta { font-style: italic; margin-bottom:$v-rhythm; @include font-size(18); }
      img {
        height: 38px;
        margin-right:em(12px);
        margin-bottom: $v-rhythm;
        vertical-align: top;
        margin-top:-4px;
      }
      h1 { line-height: $v-rhythm * 2.5; }
      img, h1 { display: inline-block; }

      @include media($media__large) { padding:$v-rhythm * 18 0 $v-rhythm !important; text-align: left; }
      @include media($media__xlarge) { padding:$v-rhythm * 28 0 $v-rhythm !important; }

//      &.dark-text {
//        h1 { color: $color__fipra-blue !important; text-shadow:0px 1px 1px $color__fipra-light-gray !important; }
//        h2 { color: $color__fipra-blue; }
//        .meta { color:black; }
//        .btn.primary {
//          text-shadow:0px 1px 3px lighten($color__fipra-blue, 10%);
//        }
//        .btn.secondary {
//          border:1px solid $color__fipra-blue;
//          color:$color__fipra-blue;
//          &:hover {
//            border:1px solid $color__fipra-blue-gray;
//            color:$color__fipra-blue-gray;
//          }
//        }
//      }
    }
  }
}