$size__site-main: 100%;
$size__site-sidebar: 25%;

$container__outer-width:1020px;
$container__content-width:940px;

$media__xxlarge: 1420px;
$media__xlarge: 1200px;
$media__large: 1030px;
$media__medium: 769px;
$media__small: 481px;