.br-top {
  @include border-top-radius(4px);
}
.br-bottom {
  @include border-bottom-radius(4px);
}
.br-left {
  @include border-left-radius(4px);
}
.br-right {
  @include border-right-radius(4px);
}

.attachment-post-thumbnail {
  width:100%;
}

.highlight-box {
  font-family: $font__sans;
  &.primary {
    background-color: $color__fipra-blue-gray;
    padding:$v-rhythm em(16px);
    color:white;
    a {
      color:$color__fipra-blue;
      font-weight:$font__black;
      &:hover {
        color:$color__fipra-blue-gray;
      }
    }
  }
  &.secondary {
    background-color: darken($color__fipra-light-gray, 10%);
    @include linear-gradient(darken($color__fipra-light-gray, 5%) 0%, $color__fipra-light-gray 70%);
    padding:$v-rhythm em(16px);
    color:$color_soft-black;
    a {
      color:$color__fipra-blue;
      font-weight:$font__black;
      &:hover {
        color:$color__fipra-blue-gray;
      }
    }
  }
}

.circle-icon, .square-icon, .circle-icon-outline {
  display:inline-block;
  margin-bottom:$v-rhythm * 2;
  line-height:55px;
  width:55px;
  height:55px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(black, 0.3);
  text-shadow: 0px 2px 0px white;
  text-align: center;
  color:$color__fipra-blue;
  @include font-size(30);
  &.grey-icon { color:$color__fipra-blue-gray; }
  &.blue {
    color: white;
    @include radial-gradient(circle at 50% 10%, $color__fipra-blue 60%, darken($color__fipra-blue, 15%) 80%);
    text-shadow: 0px -1px 0px darken($color__fipra-blue, 10%);
  }
  &.periwinkle {
    color: darken($color__fipra-periwinkle, 40%);
    @include radial-gradient(circle at 50% 10%, $color__fipra-periwinkle 60%, darken($color__fipra-periwinkle, 15%) 80%);
    text-shadow: 0px 1px 0px lighten($color__fipra-periwinkle, 10%);
  }
  &.turquoise {
    color: white;
    @include radial-gradient(circle at 50% 10%, $color__fipra-turquoise 60%, darken($color__fipra-turquoise, 15%) 80%);
    text-shadow: 0px -1px 0px darken($color__fipra-turquoise, 10%);
  }
  &.orange {
    color: white;
    @include radial-gradient(circle at 50% 10%, orange 60%, darken(orange, 15%) 80%);
    text-shadow: 0px -1px 0px darken(orange, 10%);
  }
  &.violet {
    color: white;
    @include radial-gradient(circle at 50% 10%, $color__fipra-violet 60%, darken($color__fipra-violet, 15%) 80%);
    text-shadow: 0px -1px 0px darken($color__fipra-violet, 10%);
  }

  @include media($media__medium) {
    width:80px;
    height:80px;
    @include font-size(42);
    line-height:80px;
  }
}
.circle-icon {
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  @include radial-gradient(circle at 50% 10%, white 60%, darken(white, 15%) 80%);
}
.circle-icon-outline {
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  background:none;
  box-shadow: none;
  text-shadow: none;
  color:white;
  border:1px solid white;
}
.square-icon {
  @include border-left-radius(4px);
  @include border-right-radius(4px);
  @include radial-gradient(circle at 50% 10%, white 60%, darken(white, 15%) 80%);
}

.circle-icon, .square-icon {
   &.transparent { background: none; box-shadow: none; }
}

//Showcase box with outline style
.outline .circle-icon {
  @include radial-gradient(circle at 50% 10%, $color__fipra-blue 60%, darken($color__fipra-blue, 15%) 80%);
  color:white;
}

.sans-serif { font-family: $font__sans; }

.font-14 { @include font-size(14); }


//Text Colours
.blue-gray {
  color:$color__fipra-blue-gray;
}

#modal { display:none; }

.sidebar-contact {
  @include clearfix;
  border-bottom:1px solid darken($color__fipra-light-gray, 7%);
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  margin-bottom:$v-rhythm;
  @include linear-gradient(lighten($color__fipra-light-gray, 4%) 80%, darken($color__fipra-light-gray, 1%) 100%);
  padding:$v-rhythm em(12px);

  @include media($media__medium) { margin-right:em(-41px); padding:$v-rhythm em(52px) $v-rhythm em(12px); border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

  img {
    max-width:100px;
  }

  @include media(min-width $media__small max-width $media__medium) {
    @include span-columns(6); @include omega(2n);
  }
}